*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main .a{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
    color: green;
}
.main .b{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: yellow;
    color: blue;
}
.main .c{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: green;
    color: red;
}
.main .d{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: pink;
    color: purple;
}
.main .e{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    color: powderblue;
}