*{
    box-sizing: border-box;
}
.col1{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    overflow: scroll;
}
.col2{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 20px;
    overflow: scroll;
}