.main{
    resize: both;
}
.col1{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    overflow: scroll;
    resize: both;
}
.col2{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin-top: 10px;
    overflow: scroll;
    resize: both;
}