.main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main .col1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
    color: green;
}
.main .col2{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: yellow;
    color: blue;
}
.main .col3{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: green;
    color: red;
}
.main .col4{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: pink;
    color: purple;
}
.main .col5{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    color: powderblue;
}