.main{
    float: left;
    display: flex;
    transition: 3s;
}
.col1 img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.col2 img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.col3 img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.col4 img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.col1 h1{
    text-align: center;
}
.col2 h1{
    text-align: center;
}
.col3 h1{
    text-align: center;
}
.col4 h1{
    text-align: center;
}
.col1 img:hover{
    width: 400px;
    box-shadow: 4px 4px 4px 4px black;
}
.col2 img:hover{
    width: 400px;
    box-shadow: 4px 4px 4px 4px black;
}
.col3 img:hover{
    width: 400px;
    box-shadow: 4px 4px 4px 4px black;
}
.col4 img:hover{
    width: 400px;
    box-shadow: 4px 4px 4px 4px black;
}
